body {
    background-color: black;
    font-family: arial;
}

.cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /*nécessaire de préciser une width si position fixed */
    background-color: grey;
    display: flex;
    justify-content: space-between; /* positionner les DIV enfants */
    align-items: center; /* centrer verticalement */
    padding: 3rem;
    opacity: 1; /* modification de cette valeur en JavaScript */
    transition: 0.5s;
}

.cookies-btn {
    display: flex;
}

.btn {
    color : white;
    padding: 1rem;
    border : solid 1px;
    border-color: white;
    border-radius: 10px;
}

.btn.btn-success {
    background-color: #1E2337;
}

.btn.btn-deny {
    background-color: grey;
}